.price-container {
	margin: 0 2rem;
	padding: 20px;
	height: 208px;
	position: absolute;
	bottom: 65px;
	box-shadow: 0px 7px 21px 0px rgba(15, 37, 59, 0.1);
	p {
		font-size: 12px;
		color: var(--ion-color-dark);
	}
	ion-icon {
		font-size: 10px;
		cursor: pointer;
	}
	.icon-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	ion-text {
		font-size: 16px;
		font-weight: bold;
	}
	ion-range {
		--bar-background: var(--ion-color-light);
		--bar-background-active: linear-gradient(
			-90deg,
			rgb(204, 73, 178) 0%,
			rgb(254, 114, 115) 100%
		);
		padding-top: 0;
	}
}
