<div
	class="m-countries"
	[routerLink]="['/search-location']"
	*ngIf="countries.length > 0; else countrySelect"
>
	<div>
		{{ countriesBeauty }}
	</div>
	<div class="more">
		<span *ngIf="displayedCountryCount < countries.length"
			>{{ countries.length - displayedCountryCount }} MORE</span
		>
		<ion-icon name="edit"></ion-icon>
	</div>
</div>

<ng-template #countrySelect>
	<div class="m-countries" [routerLink]="['/search-location']">
		<div>
			Select Countries...
		</div>
		<div class="more">
			<ion-icon name="edit"></ion-icon>
		</div>
	</div>
</ng-template>
