<ion-content [ngClass]="{'modal-opened': modalDisplayStatus}">
	<div class="m-header">
		<h1>DO THE MAGIC THING!</h1>
		<h2>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem
			accusantium doloremque laudantium, totam rem aperiam...
		</h2>
	</div>
	<app-country-select-button
		[countries]="countries"
	></app-country-select-button>
	<div class="m-content">
		<span>I WANT</span>
		<span>TO TRAVEL</span>
		<div class="m-btn-wrp">
			<span>FOR</span>
			<ion-button color="tertiary" (click)="openSetDaysModal()"
				>SET</ion-button
			>
		</div>
		<span>DAYS WITH</span>
		<div class="m-btn-wrp">
			<ion-button color="tertiary" (click)="openSetPriceModal()"
				>SET</ion-button
			>
			<span>USD!</span>
		</div>
	</div>
</ion-content>
