.m-header {
	background: url("src/assets/imgs/magic-header-bg.png") #ffffff no-repeat top;
	padding: 80px 2rem 0 2rem;
	min-height: 299px;
}

h1 {
	font-family: "Oswald";
	font-weight: bold;
	color: var(--ion-color-light);
	font-size: 22px;
}

h2 {
	font-size: 12px;
	font-family: "Oswald";
	color: var(--ion-color-light);
	width: 85%;
	font-weight: normal;
}

.m-countries {
	font-family: "Oswald";
	font-weight: 600;
	font-size: 14px;
	color: var(--ion-color-dark);
	margin: -67px 2rem 0 2rem;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border-radius: 15px;

	.more {
		display: flex;
		flex-direction: row;
		align-items: center;
		span {
			font-size: 12px;
			font-weight: normal;
			margin-right: 0.5rem;
		}
	}
}

.m-content {
	margin: 15px 2rem 0 2rem;
	span {
		color: var(--ion-color-primary);
		font-family: "Oswald";
		font-weight: bold;
		font-size: 52px;
		display: block;
	}
	.m-btn-wrp {
		display: flex;
		flex-direction: row;
		align-items: center;

		span,
		ion-button {
			&:first-child {
				margin-right: 20px;
			}
		}

		ion-button {
			font-size: 12px;
			--padding-bottom: 20px;
			--padding-top: 20px;
			--padding-start: 40px;
			--padding-end: 40px;
			height: 52px;
		}
	}
}
